.registration-formm {
  background-color: #ffffff;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50px;
}

.registration-formm h2 {
  margin-bottom: 20px;
}

.registration-formm label {
  display: block;
  margin-bottom: 5px;
}

.registration-formm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.registration-formm input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration-formm input[type="submit"]:hover {
  background-color: #45a049;
}
