.phim-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.phim-info {
  margin-bottom: 10px;
}

.green-text {
  color: #007bff;
}
body{
  height: 100%;
}
.phim-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  object-fit: cover;
  height: 100%;
  width: 70vw;
  justify-content: center;
}
.con{  
  height: 100%;
}
/* Định dạng phần hình ảnh */
.phim-img {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}

.phimm {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.phimm1 {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
p{
  margin: 0;
  padding: 0;
}
/* Định dạng phần description */
h1 {
  margin-top: 15px;
  margin-bottom: 20px;
}
.bold{
  font-weight: bold;
}
.des{
  line-height: 1;
  width: 400px;
  word-wrap:break-word; /* hoặc word-wrap: break-word; */
}
.btn1 {
  background-color: rgb(248, 235, 210);
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn1:hover {
  background-color: #ffff00;
}

.popup-container {
  background-color: #33333384;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  
}

.NC {
  display: flex;
}

.poptext {
  color: rgb(0, 0, 0);
  padding: 10px 50px;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  width: 80vw;
  height: 600px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 20px;
  overflow: auto;
  overflow-x: hidden;
}
.popup-content::-webkit-scrollbar{
  background-color: antiquewhite;
  border-radius: 15px;
  width: 10px; /* Điều chỉnh chiều rộng của thumb */

}
.popup-content::-webkit-scrollbar-thumb{
  background-color: rgb(218, 187, 146);
  border-radius: 15px;

}
.popup-content::-webkit-scrollbar-thumb:hover{
  background-color: rgb(255, 200, 133);
}

.btn2 {
  border-radius: 20px;
  border: 1px solid rgb(248, 235, 210);
  padding: 5px;
  left: 0;
  margin: 10px 30px;
  background-color: rgb(248, 235, 210);
  color: #000000;
  font-weight: bold;
  position: absolute;
}

.xuatchieu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; /* Khoảng cách giữa các cột */
  position: relative;
  grid-column: span 1; /* Mỗi ngày chiếu chiếm 1 cột */

}

.popup-content .hr {
  margin: 0;
  padding: 0;
  width: 70vw;
  height: 2px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: black;
  opacity: 100;
}

.XC {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: whitesmoke;
  border-radius: 15px;
  height: 40px;
  cursor: pointer;
}
*{
  transition: .3s;
}
.XC.selected {
  background-color: #007bff;
  color: white;
}

.NCC {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Chia giờ chiếu thành 2 cột */
  grid-gap: 5px; /* Khoảng cách giữa các cột */
  position: relative;
  background-color: #b4d8ff;
  border-radius: 15px;
  width: 150px;
  padding: 10px;
}

.NC {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 7px;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.NC.selecte{
  background-color: #ffffff;
  color: rgb(0, 204, 255);
}
.NAN{
  background-color: #007bff;
  color: white;
  display: flex;
  font-size: 12px;
  justify-content: center;
  border-radius: 10px;
  width: 150px;
  height: auto;
  align-items: center;
}

.popup-content h5 {
  width: auto;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
}
.CN{
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: whitesmoke;
  border-radius: 15px;
  height: 40px;
  cursor: pointer;
}
.CN.selected{
  background-color: #007bff;
  color: white;
}
.CNN{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 15px;
padding: 0;
}
.roomm {
  display: grid;
  grid-template-columns: repeat(12, auto); 
  grid-template-rows: repeat(13, auto); 
  grid-gap: 5px;
  margin-top: 25px;
  width: 50vw;
}
.selectedS{
  background-color: #007bff;
}
.TPS{
  color: rgb(29, 0, 0);
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  display: flex;
}
.CF{
  margin: 20px;
  border: none;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 15px;
}
.seats {
  width: 50px; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000; 
  border-radius: 10px;
  cursor: pointer;
}
.checked{
  background-color: #ff0000; 
}
.unchecked{
  background-color: #ffffff; 

}
.INFS{
  width: 70vw;
  height: 150px;
  border-radius: 15px;
  background-color: #b4d8ff;
  font-weight: bold;
  color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.seat:nth-child(3),
.seat:nth-child(9) {
  margin-right: 25px;
}

.addition {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.choosee {
  width: 45%;
}
h2{
 display: flex;
 justify-content: center;
}
.plus{
background-color: white;
color: black;
width: 40px;
height: 40px;
display: inline-flex;
justify-content: center;
align-items: center;
padding: 0;
margin:0;
border-radius: 25px;
}
.plus:hover{
  background-color: #ffa726;
  border: #ffa726 solid 1px;
}

input.quantity
{
  display: inline-flex;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  border: none;
  text-align: center;
  margin: 0 10px;
}
.itemss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemm {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.itemm:hover {
  background-color: #ffd67d;
}

.selectedd {
  background-color: #ffcc80;
  border-color: #ffa726;
}

.payment-page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.payment-page h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.order-details {
  margin-bottom: 20px;
}

.order-details h3 {
  margin-top: 0;
}

.order-details ul {
  padding-left: 20px;
}

.order-details ul li {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
}

form label,
form select,
form input {
  margin-bottom: 10px;
}
#expired_month, #expired_year{
  width: 60px;
  height: 40px;
  margin-left: 10px;
}
form select,
form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}
