/* footer */
.footer-content {
  background-color: rgb(255, 238, 206);
  color: black;
  padding: 20px;
  margin-top: 150px;
  position: relative;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-logo {
  flex: 1;
  position: absolute;
  left: 30px;
}

.footer-logo h2 {
  margin: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-social a {
  display: inline-block;
  margin-right: 10px;
}

.footer-social img {
  width: 30px;
  height: 30px;
}
