.container{
    background-color: rgb(236, 236, 236);
    border: 1px solid black;
    border-radius: 15px;
    width: 80vw;
}
*{
    transition: .3s;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.SS{
    width: 400px;
    height: 50px;
    margin: 10px;
    border-radius: 15px;
}
.SSB{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    display: flex;
    justify-content: space-between; /* Căn các phần tử con sang hai đầu */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
  }
.textC{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
 
}
.text:hover{
    padding: 15px;
    position: relative;
    right: 0;
    box-shadow: 6px 7px rgba(100, 100, 100, 0.767);
}
.B{
    display: flex;
    flex-direction: row;
}
.BB{
    justify-content: center;
    display: flex;
    border-radius: 5px;
    background-color: rgb(0, 255, 0);
   width: 100px;
   height: 30px;
    
}
.BB:hover{
    background-color: rgb(54, 255, 54);
    color: white;
    border: 1px white solid;
}
.BB:nth-child(2):hover{
    background-color: rgb(255, 61, 61);
    color: white;
    border: 1px white solid;

}
.BB:nth-child(2){
    background-color: Red;
    margin-left: 10px;
}