body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
.carousel-item {
  transition: transform 1s;
  position: relative;
  align-items: normal !important;
  top: 30px;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  filter: invert(100%); /* Chuyển màu biểu tượng sang trắng */
}

.boxB {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 30px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  color: black;
  cursor: pointer;
}
.box {
  border-right: 1px solid black;
  position: relative;
  display: flex;
  color: black;
  justify-content: center;
  transition: 0.2s;
}
.box:hover {
  transition: 0.5s;
  font-size: 20px;
  color: red;
}
.banner {
  display: flex;
  justify-content: center;
  width: 100vw;
  left: 0;
  height: 400px;
  z-index: 100;
  position: relative;
  background-color: rgb(255, 238, 206);
  margin-top: 15px;
}
.MS {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 40px;
}

.list {
  margin: 50px 0 0 0; /* Để căn giữa theo chiều ngang */
  max-width: 800px; /* Độ rộng tối đa của phần tử chứa slider */

}

.slick-slide {
  text-align: center; /* Để căn giữa các slide bên trong */
}
.moviee {
  box-sizing: border-box;
  position: relative;
  height: 300px;
  width: 250px;
  transition: transform 0.5s ease-in-out;
  z-index: 1000000000;
}

.moviee img {
  height: 400px;
  width: 250px;

}

.moviee-infoo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  overflow: auto;
  font-size: 12px;
}
.moviee-infoo::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.2);
  width: 10px;
}
/* CSS */
.btnn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffee00; /* Màu nền */
  border: 2px solid #ffc400; /* Viền */
  border-radius: 5px; /* Bo tròn góc */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btnn:hover {
  background-color: #0056b3; /* Màu nền khi di chuột qua */
  border-color: #0056b3; /* Viền khi di chuột qua */
}

.btnn:active {
  transform: translateY(1px); /* Hiệu ứng nhấn nút */
}

.moviee-infoo::-webkit-scrollbar-thumb {
  background-color: rgba(166, 166, 166, 0.292);
  border-radius: 15px;
}
.moviee:hover .moviee-infoo {
  opacity: 1;
}
a {
  text-decoration: none;
}
