/* footer */
.footer-content {
  background-color: rgb(255, 238, 206);
  color: black;
  padding: 20px;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-logo {
  flex: 1;
  position: absolute;
  left: 30px;
}

.footer-logo h2 {
  margin: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.iconn{
width: 20px;
height: 20px;
color: black;
}
.iconn:hover{
  scale: 2;
}
.footer-social a {
  display: inline-block;
  margin-right: 10px;
}

.footer-social img {
  width: 30px;
  height: 30px;
}
.Fp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111111111111111111111111111;
}

.Fp-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.display{
  display: flex;
}
.nonedisplay{
  display: none;
}
.pop{
  position: absolute;
  top: -224px;
  background-color: rgb(255, 152, 152);
  border-radius: 20px;
  color: whitesmoke;
  font-size: 18px;
  display: none;
  z-index: 1111111111111111111111111111;
  padding: 13px;
  transition: .3s;
  cursor: pointer;
}
.pop p{
  border-radius: 15px;
  padding: 5px;
}
.pop p:hover{
  background-color: aliceblue;
  border-radius: 15px;
  color: rgb(255, 152, 152);
  padding: 15px;

}
.trans:hover a{
scale: 1.3;
color:rgb(255, 152, 152);
}
.DKSD:hover .pop{
  display: block;
}